main {

  padding: 20px;
  padding-top: 0;

  .card-row {
    width: 100%;
    height: 260px;
    overflow-x: auto;
    // margin-bottom: 30px;
    white-space: nowrap;

    .played-cards {

      overflow-y: hidden;
      padding-top: 10px;

      .collection {
        display: inline-block;
        vertical-align: middle;
        white-space: initial;
        margin-bottom: 0;
        float: none;
        height: 250px;
        width: calc(147px + 24px + 3px);

        &:hover > .card, &.selected>.card {
          // transform: translateY(-10px);
          background: linear-gradient(150deg, rgba(255,255,255,1) 0%, rgba(205,205,205,1) 100%);
        }

        &.winner>.card {
          background-color: #94d82d;
          background-image: none;
        }

        .card {
          transition: margin .2s ease-in-out, background-color 0.1s ease-in-out, transform 0.2s ease-in-out;
          
          // text-transform: capitalize;
          // background-color: #fff;
          &>small {
            font-size: 8pt;
            display: block;
            margin-top: .5em;
          }

        }

        .card:nth-child(1):hover {
          margin-bottom: 180px;
        }

        .card:nth-child(2) {
          margin-top: calc(-200px - 32px - 2px + 70px);
          &:hover {
            margin-top: calc(-200px - 32px - 2px);
            margin-bottom: 240px;
          }
        }

        .card:nth-child(3) {
          margin-top: calc(-200px - 32px - 2px + 70px);
          &:hover {
            margin-top: -304px;
          }
        }

        &:last-of-type {
          width: 234px;
          .card {
            margin-right: 0;
          }
        }

      }

    }

    .card {
      // font-family: sans-serif;
      padding: 12px;
      border-radius: 6px;
      width: 147px;
      height: 215px;
      font-size: 13.5pt;
      font-weight: bold;
      background-color: white;
      color: black;
      background: linear-gradient(150deg, rgba(255,255,255,1) 0%, rgba(225,225,225,1) 100%);
      border: 1px solid black;
      margin-right: 1px;
      // margin-bottom: 20px;
      float: left;
      display: block;
      // text-transform: capitalize;
      white-space: initial;
      position: relative;

      &>small {
        font-size: 8pt;
        display: block;
        margin-top: .5em;
        bottom: 15px;
        position: absolute;
      }

      &.black {
        display: block;
        background: none;
        background-color: black;
        color: white;
        float: left;
        width: 400px;
        font-size: 32px;
        font-weight: 650;
        padding-top: 5px;
      }

      &:not(.black) {
        cursor: pointer;
        transition: background-color 0.1s ease-in-out, transform 0.2s ease-in-out;
      }

      &:not(.black):hover, &.selected {
        background: linear-gradient(150deg, rgba(255,255,255,1) 0%, rgba(205,205,205,1) 100%);
      }

      &:last-of-type {
        margin-right: 0;
      }

    }

    &.my-cards {
      height: 255px;
      margin-bottom: 30px;
      padding-top: 10px;
    }

    &.my-cards>.card {
      display: inline-block;
      vertical-align: middle;
      white-space: initial;
      margin-bottom: 0;
      float: none;
      margin-bottom: 5px;
    }

    &.my-cards>.card:not(.black):hover, &.my-cards>.card.selected {
      transform: translateY(-10px);
    }

    &.my-cards>h1 {
      text-align: center;
      display: block;
      margin: 0;
      margin-top: -267px;
      padding-top: calc((280px - 1em) / 2);
      padding-bottom: calc((280px - 1em) / 2);
      background-color: rgba(0, 0, 0, 0.9);
      color: white;
      position: absolute;
      margin-left: -20px;
      width: 100vw;
    }

  }

  .players {
    display: block;

    position: fixed;
    z-index: 2000;
    top: 22px;
    right: 15px;

    text-align: right;

    // float: left;
    margin-right: 20px;
    margin-bottom: 20px;

    span.header {
      font-weight: bold;
    }

    div.player {
      display: inline-block;
      text-align: center;
      min-width: 80px;

      span {
        margin: 0 .5em;
        white-space: pre;

        &.monogram {
          // font-family: "SF Pro Rounded";
          // font-variation-settings: 'wght' 600;
          font-size: 17px;
          color: white;
          background-color: gray;
          background-image: linear-gradient(to bottom, rgb(164, 169, 182), rgb(133, 138, 148));
          width: 40px;
          height: 40px;
          line-height: 40px;
          border-radius: 25px;
          display: block;
          margin-right: 10px;
          text-align: center;
          position: relative;
          margin: 0 auto;
        }

        &.score {
          margin-left: 0;
          font-weight: bold;
          position: absolute;
          right: -10px;
          top: -10px;
          font-size: 13px;
          border: 2px solid #000;
          background-color: #fff;
          color: #000;
          line-height: 18px;
          width: 22px;
          height: 22px;
          border-radius: 12px;
          box-sizing: border-box;
        }

        &.me {
          // text-decoration: underline;
          font-weight: bold;
        }

        &.name {
          font-size: 13px;
          font-weight: 600;
          margin-top: 5px;
          display: inline-block;
        }

        &.czar {
          color: white;
          background-color: black;
          border-radius: 4px;
          border: 2px solid white;
        }

      }

      fa-icon {
        display: inline;

        &.host {
            color: #f50;
        }

        &.user {
          padding: 0 0.2em;
          color: #333;
        }

        &.playing {
          color: #333;
        }

        &.check {
            color: #5f0;
        }

        &.gavel {
            color: #039be5;
        }

        &.flag {
            color: #333;
        }

      }


    }

  }

  .other {
    float: left;
  }

  button {
    padding: 14px 20px 18px;
    -webkit-box-shadow: inset 0 -4px 0 0 #fff;
    box-shadow: inset 0 -4px 0 0 #fff;
    color: white;
    border: 2px solid white;
    outline: none;
    border-radius: 7px;
    background-color: black;
    margin-right: 10px;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out, padding 0.1s ease-in-out;

    &:hover:not(:disabled) {
      // background-color: rgba(255,255,255,0.2);
      transform: translateY(-5px);
      -webkit-box-shadow: inset 0 -9px 0 0 #fff;
      box-shadow: inset 0 -9px 0 0 #fff;
      padding-bottom: 23px;
    }

    &:disabled {
      cursor: not-allowed;
      color: #555;
    }

  }

  div.info {
    p {
      margin: 0.2em;

      &:first-of-type {
        margin-top: 1em;
      }
    }
  }

  hr {
    margin: 26px 0;
    margin-top: 10px;
    border: 0.5px solid #aaa;
  }

}
