.card {
  // font-family: sans-serif;
  padding: 12px;
  border-radius: 6px;
  width: 147px;
  height: 215px;
  font-size: 13.5pt;
  font-weight: bold;
  background-color: white;
  color: black;
  background: linear-gradient(150deg, rgba(255,255,255,1) 0%, rgba(225,225,225,1) 100%);
  border: 1px solid black;
  margin-right: 1px;
  // margin-bottom: 20px;
  float: left;
  display: block;
  // text-transform: capitalize;
  white-space: initial;
  position: relative;
  user-select: none;

  &>small {
    font-size: 8pt;
    display: block;
    margin-top: .5em;
    bottom: 15px;
    position: absolute;
  }

  &.black {
    display: block;
    background: none;
    background-color: black;
    color: white;
    float: left;
    width: 400px;
    font-size: 32px;
    font-weight: 650;
    padding-top: 5px;
  }

  &:not(.black) {
    cursor: pointer;
    transition: background-color 0.1s ease-in-out, transform 0.2s ease-in-out;

    &.cdk-drag-dragging, &.cdk-drag-preview {
      transition: none;
      box-sizing: border-box;
    }
  }

  &:not(.black):hover, &.selected {
    background: linear-gradient(150deg, rgba(255,255,255,1) 0%, rgba(205,205,205,1) 100%);
  }

  &:last-of-type {
    margin-right: 0;
  }

}

main {

  padding: 20px;
  padding-top: 0;

  .full-screen-takeover {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 100;
    left: 0;
    top: 0;

    &.center {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    section {
      width: calc(100vw - 100px);
      max-width: 700px;
      margin: 0 auto;
      margin-top: 90px;
  
      p {
        text-align: left;
        font-size: 72px;
        font-weight: 600;
        line-break: normal;

        .underline {
          border-bottom: 6px solid #fff;
          line-height: 110px;
          font-size: 72px;
          font-weight: 600;
          color: #fff;
          background-color: #000;
          padding-bottom: 5px;
        }
      }
  
      .sm {
        font-size: 36px;
      }

      .avatars {
        text-align: center;

        figure {
          font-size: 42px;
          color: white;
          background-color: gray;
          background-image: linear-gradient(to bottom, rgb(164, 169, 182), rgb(133, 138, 148));
          width: 90px;
          height: 90px;
          line-height: 90px;
          border-radius: 51px;
          display: inline-block;
          margin-right: 10px;
          text-align: center;
          position: relative;
          margin: 0 auto;
          border: 6px solid black;
        }
        
        figure:nth-of-type(1) {
          transform: translateX(-20px);
        }

        figure:nth-of-type(2) {
          transform: translateX(-40px);
        }

        figure:nth-of-type(3) {
          transform: translateX(-60px);
        }
      }

    }

    .winner-message {
      font-size: 32px;
    }

    .winner-card {

      font-size: 21px;
      font-weight: 600;
      padding: 20px;
      border-radius: 8px;
      box-sizing: border-box;

      width: calc(147px * 1.45);
      height: calc(215px * 1.45);

      position: fixed;
      top: 50%;
      left: 50%;

      &>small {
        font-size: 8pt;
        display: block;
        margin-top: .5em;
        bottom: 20px;
        position: absolute;
        width: 100%;
      }

      @keyframes fade-in {
        from { opacity: 0.2; }
        to { opacity: 1; }
      }

      @keyframes present-winnter-black-card-bc-1 {
        from { transform: translate3D(calc(147px * 1.45 * -0.5), calc(215px * 1.45 * -0.5), 0) rotateZ(-2deg) translateX(-75px) scale3d(0.5, 0.5, 1.0) }
        to { transform: translate3D(calc(147px * 1.45 * -0.5), calc(215px * 1.45 * -0.5), 0) rotateZ(-10deg) translateX(-100px) }
      }

      @keyframes present-winnter-black-card-bc-2 {
        from { transform: translate3D(calc(147px * 1.45 * -0.5), calc(215px * 1.45 * -0.5), 0) rotateZ(-2deg) translateX(-75px) scale3d(0.5, 0.5, 1.0) }
        to { transform: translate3D(calc(147px * 1.45 * -0.5), calc(215px * 1.45 * -0.5), 0) rotateZ(-12deg) translateX(-195px) }
      }

      @keyframes present-winnter-black-card-bc-3 {
        from { transform: translate3D(calc(147px * 1.45 * -0.5), calc(215px * 1.45 * -0.5), 0) rotateZ(-2deg) translateX(-105px) scale3d(0.5, 0.5, 1.0) }
        to { transform: translate3D(calc(147px * 1.45 * -0.5), calc(215px * 1.45 * -0.5), 0) rotateZ(-12deg) translateX(-305px) }
      }

      // WC-1

      @keyframes present-winnter-white-card-wc-1-1 {
        from { transform: translate3D(calc(147px * 1.45 * -0.5), calc(215px * 1.45 * -0.5), 0) rotateZ(2deg) translateX(75px) scale3d(0.5, 0.5, 1.0) }
        to { transform: translate3D(calc(147px * 1.45 * -0.5), calc(215px * 1.45 * -0.5), 0) rotateZ(10deg) translateX(100px); }
      }

      // WC-2

      @keyframes present-winnter-white-card-wc-2-1 {
        from { transform: translate3D(calc(147px * 1.45 * -0.5), calc(215px * 1.45 * -0.5), 0) rotateZ(0deg) translateY(10px) scale3d(0.5, 0.5, 1.0) }
        to { transform: translate3D(calc(147px * 1.45 * -0.5), calc(215px * 1.45 * -0.5), 0) rotateZ(0deg) translateY(15px); }
      }

      @keyframes present-winnter-white-card-wc-2-2 {
        from { transform: translate3D(calc(147px * 1.45 * -0.5), calc(215px * 1.45 * -0.5), 0) rotateZ(2deg) translateX(75px) scale3d(0.5, 0.5, 1.0) }
        to { transform: translate3D(calc(147px * 1.45 * -0.5), calc(215px * 1.45 * -0.5), 0) rotateZ(10deg) translateX(195px); }
      }

      // WC-3

      @keyframes present-winnter-white-card-wc-3-1 {
        from { transform: translate3D(calc(147px * 1.45 * -0.5), calc(215px * 1.45 * -0.5), 0) rotateZ(0deg) translateY(10px) scale3d(0.5, 0.5, 1.0) }
        to { transform: translate3D(calc(147px * 1.45 * -0.5), calc(215px * 1.45 * -0.5), 0) rotateZ(-3deg) translateX(-105px) translateY(30px); }
      }

      @keyframes present-winnter-white-card-wc-3-2 {
        from { transform: translate3D(calc(147px * 1.45 * -0.5), calc(215px * 1.45 * -0.5), 0) rotateZ(2deg) translateX(75px) scale3d(0.5, 0.5, 1.0) }
        to { transform: translate3D(calc(147px * 1.45 * -0.5), calc(215px * 1.45 * -0.5), 0) rotateZ(3deg) translateX(105px) translateY(30px); }
      }

      @keyframes present-winnter-white-card-wc-3-3 {
        from { transform: translate3D(calc(147px * 1.45 * -0.5), calc(215px * 1.45 * -0.5), 0) rotateZ(2deg) translateX(75px) scale3d(0.5, 0.5, 1.0) }
        to { transform: translate3D(calc(147px * 1.45 * -0.5), calc(215px * 1.45 * -0.5), 0) rotateZ(12deg) translateX(305px); }
      }


      &.winner-black-card {
        background-color: #111;
        color: white;

        &.bc-1 {
          transform: translate3D(calc(147px * 1.45 * -0.5), calc(215px * 1.45 * -0.5), 0) rotateZ(-10deg) translateX(-100px);
          animation: present-winnter-black-card-bc-1 1.5s cubic-bezier(0.22, 1, 0.36, 1), fade-in 0.5s;
        }

        &.bc-2 {
          transform: translate3D(calc(147px * 1.45 * -0.5), calc(215px * 1.45 * -0.5), 0) rotateZ(-12deg) translateX(-195px);
          animation: present-winnter-black-card-bc-2 1.5s cubic-bezier(0.22, 1, 0.36, 1), fade-in 0.5s;
        }

        &.bc-3 {
          transform: translate3D(calc(147px * 1.45 * -0.5), calc(215px * 1.45 * -0.5), 0) rotateZ(-12deg) translateX(-305px);
          animation: present-winnter-black-card-bc-3 1.5s cubic-bezier(0.22, 1, 0.36, 1), fade-in 0.5s;
        }

      }

      &.winner-white-card {
        background-color: white;
        background-image: linear-gradient(150deg, rgba(255,255,255,1) 0%, rgba(205,205,205,1) 100%);
        color: black;

        // WC-1

        &.wc-1-1 {
          transform: translate3D(calc(147px * 1.45 * -0.5), calc(215px * 1.45 * -0.5), 0) rotateZ(10deg) translateX(100px);
          animation: present-winnter-white-card-wc-1-1 1.5s cubic-bezier(0.22, 1, 0.36, 1), fade-in 0.5s;
        }

        // WC-2

        &.wc-2-1 {
          transform: translate3D(calc(147px * 1.45 * -0.5), calc(215px * 1.45 * -0.5), 0) rotateZ(0deg) translateY(15px);
          animation: present-winnter-white-card-wc-2-1 1.5s cubic-bezier(0.22, 1, 0.36, 1), fade-in 0.5s;
        }

        &.wc-2-2 {
          transform: translate3D(calc(147px * 1.45 * -0.5), calc(215px * 1.45 * -0.5), 0) rotateZ(10deg) translateX(195px);
          animation: present-winnter-white-card-wc-2-2 1.5s cubic-bezier(0.22, 1, 0.36, 1), fade-in 0.5s;
        }

        // WC-3

        &.wc-3-1 {
          transform: translate3D(calc(147px * 1.45 * -0.5), calc(215px * 1.45 * -0.5), 0) rotateZ(-3deg) translateX(-105px) translateY(30px);
          animation: present-winnter-white-card-wc-3-1 1.5s cubic-bezier(0.22, 1, 0.36, 1), fade-in 0.5s;
        }

        &.wc-3-2 {
          transform: translate3D(calc(147px * 1.45 * -0.5), calc(215px * 1.45 * -0.5), 0) rotateZ(3deg) translateX(105px) translateY(30px);
          animation: present-winnter-white-card-wc-3-2 1.5s cubic-bezier(0.22, 1, 0.36, 1), fade-in 0.5s;
        }

        &.wc-3-3 {
          transform: translate3D(calc(147px * 1.45 * -0.5), calc(215px * 1.45 * -0.5), 0) rotateZ(12deg) translateX(305px);
          animation: present-winnter-white-card-wc-3-3 1.5s cubic-bezier(0.22, 1, 0.36, 1), fade-in 0.5s;
        }

      }

    }

  }

  .card-row {
    width: 100%;
    height: 260px;
    overflow-x: auto;
    // margin-bottom: 30px;
    white-space: nowrap;

    .played-cards {

      overflow-y: hidden;
      padding-top: 10px;

      &>.card {
        display: inline-block;
        float: none;
        vertical-align: top;
      }

      &>.collection {
        display: inline-block;
        vertical-align: top;
        white-space: initial;
        margin-bottom: 0;
        float: none;
        height: 250px;
        width: calc(147px + 24px + 3px);

        &:hover > .card, &.selected>.card {
          // transform: translateY(-10px);
          background: linear-gradient(150deg, rgba(255,255,255,1) 0%, rgba(205,205,205,1) 100%);
        }

        // &.winner>.card {
        //   background-color: #94d82d;
        //   background-image: none;
        // }

        .card {
          transition: margin .2s ease-in-out, background-color 0.1s ease-in-out, transform 0.2s ease-in-out;
          
          // text-transform: capitalize;
          // background-color: #fff;
          &>small {
            font-size: 8pt;
            display: block;
            margin-top: .5em;
          }

        }

        .card:nth-child(1):hover {
          margin-bottom: 180px;
        }

        .card:nth-child(2) {
          margin-top: calc(-200px - 32px - 2px + 70px);
          &:hover {
            margin-top: calc(-200px - 32px - 2px);
            margin-bottom: 240px;
          }
        }

        .card:nth-child(3) {
          margin-top: calc(-200px - 32px - 2px + 70px);
          &:hover {
            margin-top: -304px;
          }
        }

        &:last-of-type {
          width: 234px;
          .card {
            margin-right: 0;
          }
        }

      }

    }

    .drag-destination-container {
      padding-top: 10px;
      float: left;

      .drag-destination {
        border-radius: 9px;
        width: calc(147px + 24px);
        height: calc(215px + 24px);
        padding: 12px;
        margin-right: 3px;
        box-sizing: border-box;
  
        border: 2px dashed #444;
  
        float: left;
        display: block;
        white-space: initial;
        position: relative;

        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        &>p {
          text-align: center;
          font-weight: 600;
          color: #444;
        }

        &>.cdk-drag-placeholder {
          position: absolute;
          z-index: 10;

          text-align: left;

          width: calc(147px + 24px);
          height: calc(215px + 24px);
          border: 2px dashed #444;
          box-sizing: border-box;

          background-image: none;
          background-color: black;
          color: #444;
        }

        .pick-count {
          display: inline-block;
          width: 22px;
          height: 22px;
          background-color: #444;
          color: black;
          border-radius: 25px;
          box-sizing: border-box;
          padding: 2px;
          margin-left: 1px;
          margin-right: 1px;
          text-align: center;
        }
      }
    }

    &.my-cards {
      height: 255px;
      margin-bottom: 30px;
      padding-top: 10px;
    }

    &.my-cards>.card {
      display: inline-block;
      vertical-align: middle;
      white-space: initial;
      margin-bottom: 0;
      float: none;
      margin-bottom: 5px;
    }

    &.my-cards>.card:not(.black):hover, &.my-cards>.card.selected {
      transform: translateY(-10px);
    }

    &.my-cards>h1 {
      text-align: center;
      display: block;
      margin: 0;
      margin-top: -267px;
      padding-top: calc((280px - 1em) / 2);
      padding-bottom: calc((280px - 1em) / 2);
      background-color: rgba(0, 0, 0, 0.9);
      color: white;
      position: absolute;
      margin-left: -20px;
      width: 100vw;
    }

  }

  .players {
    display: block;

    position: fixed;
    z-index: 2000;
    top: 18px;
    right: 15px;

    text-align: right;

    // float: left;
    margin-right: 20px;
    margin-bottom: 20px;

    span.header {
      font-weight: bold;
    }

    div.player {
      display: inline-block;
      text-align: center;
      min-width: 80px;

      transition: opacity 1s ease-in-out;

      &.loser {
        opacity: 0.25;
      }

      span {
        margin: 0 .5em;
        white-space: pre;

        &.monogram {
          // font-family: "SF Pro Rounded";
          // font-variation-settings: 'wght' 600;
          font-size: 17px;
          color: white;
          background-color: gray;
          background-image: linear-gradient(to bottom, rgb(164, 169, 182), rgb(133, 138, 148));
          width: 40px;
          height: 40px;
          line-height: 40px;
          border-radius: 25px;
          display: block;
          margin-right: 10px;
          text-align: center;
          position: relative;
          margin: 0 auto;

          &>.emoji {
            margin: 0;
            display: block;
            height: 100%;
            overflow: hidden;

            figure {
              margin: 0;
              transition: transform 1s ease-in-out;
            }
          }

          &>.popper {
            figure {
              transform: translateY(-40px);
            }
          }

        }

        &.score {
          margin-left: 0;
          font-weight: bold;
          position: absolute;
          right: -10px;
          top: -10px;
          font-size: 13px;
          border: 2px solid #000;
          background-color: #fff;
          color: #000;
          line-height: 18px;
          width: 22px;
          height: 22px;
          border-radius: 12px;
          box-sizing: border-box;
          z-index: 1001;
        }

        &.me {
          // text-decoration: underline;
          font-weight: bold;
        }

        &.name {
          font-size: 13px;
          font-weight: 600;
          margin-top: 5px;
          display: inline-block;
        }

        &.czar {
          color: white;
          background-color: black;
          border-radius: 4px;
          border: 2px solid white;
        }

      }

      fa-icon {
        display: inline;

        &.host {
            color: #f50;
        }

        &.user {
          padding: 0 0.2em;
          color: #333;
        }

        &.playing {
          color: #333;
        }

        &.check {
            color: #5f0;
        }

        &.gavel {
            color: #039be5;
        }

        &.flag {
            color: #333;
        }

      }


    }

  }

  .other {
    float: left;
  }

  button {
    padding: 14px 20px 18px;
    -webkit-box-shadow: inset 0 -4px 0 0 #fff;
    box-shadow: inset 0 -4px 0 0 #fff;
    color: white;
    border: 2px solid white;
    outline: none;
    border-radius: 7px;
    background-color: black;
    margin-right: 10px;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out, padding 0.1s ease-in-out;

    &:hover:not(:disabled) {
      // background-color: rgba(255,255,255,0.2);
      transform: translateY(-5px);
      -webkit-box-shadow: inset 0 -9px 0 0 #fff;
      box-shadow: inset 0 -9px 0 0 #fff;
      padding-bottom: 23px;
    }

    &:disabled {
      cursor: not-allowed;
      color: #555;
    }

  }

  .btn-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
  
    button {
      -webkit-box-shadow: inset 0 -4px 0 0 #fff;
      box-shadow: inset 0 -4px 0 0 #fff;
      color: black;
      border: none;
      border-radius: 0;
      outline: none;
      background-color: white;
      outline: none;
      cursor: pointer;
      font-size: 24px;
      font-weight: bold;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out, padding 0.1s ease-in-out;
      width: 100vw;
      height: 80px;
  
      .notice {
        display: none;
        position: absolute;
        bottom: 100px;
        font-size: 14px;
        padding: 7px;
        background-color: #fff;
        color: #000;
        width: 350px;
        font-weight: 500;
        border-radius: 7px;
        left: 0;
        right: 0;
        margin: auto;
      }
  
      &:disabled {
        &:hover {
          .notice { display: block; }
        }
      }

      &:hover:not(:disabled) {
        transform: none;
        box-shadow: none;
        padding-bottom: 18px;
      }
    }
  
    .continue {
      margin-left: 10px;
      transition: margin 0.2s ease-out;
    }
  }
  
  .btn-container:hover {
    .continue {
      margin-left: 25px;
    }
  }

  div.info {
    p {
      margin: 0.2em;

      &:first-of-type {
        margin-top: 1em;
      }
    }
  }

  hr {
    margin: 26px 0;
    margin-top: 10px;
    border: 0.5px solid #aaa;
  }

}
