main {
  max-width: 700px;
  padding: 10px;
  margin: auto;

  section {
    width: calc(100vw - 100px);
    max-width: 700px;
    margin-bottom: 35vh;

    p {
      text-align: left;
      font-size: 72px;
      font-weight: 600;
      line-break: normal;
    }

    .sm {
      font-size: 36px;

      input {
        font-size: 36px;
        background-color: black;
        color: white;
        font-weight: 600;
        border: 0;
        border-bottom: 3px solid #fff;
        outline: none;
        width: 70px;
      }
    }

    .pack-name {
      border-bottom: 3px solid white;
    }

    .link {
      line-height: 100px;
      border-bottom: 3px solid #fff;
      font-size: 36px;
      margin-bottom: 2px;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

      &:hover {
        background-color: #fff;
        color: #000;
        cursor: pointer;
      }
    }
    
  }

  div.cards-info {
    display: inline-block;
    width: 100%;
    text-align: right;
    * {
      display: inline-block;
    }
    button {
      color: white;
    }
  }

  div.input-group {
    display: block;
    width: 100%;
    margin: 1rem 0;

    label {
      font-size: 16pt;
    }

    input, select {
      font-size: 16pt;
      margin-left: 1rem;
      border: none;
      border-bottom: 1px solid #fff;
      outline: none;
      background-color: transparent;
      color: #fff;
    }

    button {
      display: inline-block;
      margin: 0;
      margin-left: 1rem;
      color: #fff;

      &.start-game {
        margin: auto;
        display: block;
      }

      &:disabled {
        cursor: not-allowed;
      }

    }

    button {
      padding: 14px 20px 18px;
      -webkit-box-shadow: inset 0 -4px 0 0 #fff;
      box-shadow: inset 0 -4px 0 0 #fff;
      color: white;
      border: 2px solid white;
      outline: none;
      border-radius: 7px;
      background-color: black;
      margin-right: 10px;
      outline: none;
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out, padding 0.1s ease-in-out;
  
      &:hover:not(:disabled) {
        // background-color: rgba(255,255,255,0.2);
        transform: translateY(-5px);
        -webkit-box-shadow: inset 0 -9px 0 0 #fff;
        box-shadow: inset 0 -9px 0 0 #fff;
        padding-bottom: 23px;
      }
  
      &:disabled {
        cursor: not-allowed;
        color: #555;
      }
  
    }

  }

  input.search {
    display: block;
    margin: auto;
    padding: 0;
    border: none;
    border-bottom: 3px solid #fff;
    outline: none;
    padding: 1em;
    padding-left: 0;
    padding-right: 0;
    font-size: 16pt;
    width: calc(100% - 2px);
    background-color: black;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;

    &::placeholder {
      transition: color .15s ease-in-out;
    }

    &::placeholder:not(:focus) {
      color: #333;
      font-style: italic;
    }

    &:focus::placeholder {
      color: #666;
      font-style: italic;
    }

  }

  ul {
    list-style: none;
    padding: 0;
    width: calc(100% - 2px);
    margin: auto;
    margin-top: 20px;
    border: 1px solid #000;
    overflow: auto;
    height: 300px;
    
    .container {
      white-space: nowrap;
      width: max-content;
    }

    li {
      display: block;
      padding: 0.5em 0.5em;
      cursor: pointer;
      color: #333;
      user-select: none;
      background-color: #fff;
      float: left;
      white-space: normal;
      word-break: break-word;
      background-color: black;
      color: white;
      border: 3px solid white;
      width: 150px;
      height: 200px;
      font-size: 24px;
      font-weight: 600;
      margin-right: 20px;

      box-shadow: 1px 1px 0px white,
                  2px 2px 0px white,
                  3px 3px 0px white,
                  4px 4px 0px white,
                  5px 5px 0px white,
                  6px 6px 0px white;

      div {
        display: inline;
        color: #000;
        font-weight: normal;

        &::before {
          display: inline-block;
          margin-left: 1em;
          margin-right: 0.3em;
          content: '';
          background-color: #000;
          border: 1px solid #000;
          border-radius: 0.1em;
          height: 12pt;
          width: 8pt;
          transform: rotate(20deg);
        }

        &.white {

          &::before {
            background-color: #fff;
          }

        }

      }

      &.selected {
        // font-weight: 600;
        // background-color: white;
        // color: #000;
        text-decoration: line-through;
        text-decoration-thickness: 3px;
      }

      &.hidden {
        display: none;
      }

    }

  }

  span.cards {
    display: block;
    color: #000;
    font-weight: normal;
    font-size: 1rem;
    padding: 1rem 0;
    margin-top: 1em;

    &::before {
      display: inline-block;
      margin-left: 1em;
      margin-right: 0.3em;
      content: '';
      background-color: #000;
      border: 1px solid #000;
      border-radius: 0.1em;
      height: 12pt;
      width: 8pt;
      transform: rotate(20deg);
    }

    &.white {

      &::before {
        background-color: #fff;
      }

    }

    &:last-of-type {
        margin-right: 1em;
    }

  }

  .btn-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
  
    button {
      -webkit-box-shadow: inset 0 -4px 0 0 #fff;
      box-shadow: inset 0 -4px 0 0 #fff;
      color: black;
      border: none;
      outline: none;
      background-color: white;
      outline: none;
      cursor: pointer;
      font-size: 24px;
      font-weight: bold;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out, padding 0.1s ease-in-out;
      width: 100vw;
      height: 80px;
  
      .notice {
        display: none;
        position: absolute;
        bottom: 100px;
        font-size: 14px;
        padding: 7px;
        background-color: #fff;
        color: #000;
        width: 350px;
        font-weight: 500;
        border-radius: 7px;
        left: 0;
        right: 0;
        margin: auto;
      }
  
      &:disabled {
        cursor: not-allowed;

        &:hover {
          .notice { display: block; }
        }
      }
    }

    .continue {
      margin-left: 10px;
      transition: margin 0.2s ease-out;
    }

  }

  .btn-container:hover {
    .continue {
      margin-left: 25px;
    }
  }

}
